h1 {
    color: rgb(209, 24, 24);
    text-align: center;
    padding: 10px;
    margin: 25px 0;
    }
.library-title {
    text-align: left;
    padding:0;
    font-size: 2rem;
}

.logo {
    max-width: 90px;
    height: auto;
}
.nav-item a span {
    margin-left:8px;
}
.card-wrapper {

    display: flex;
    padding: 5px;
    width: 360px;
    justify-content: space-between;

}
.card-content  {
    display: flex;
    color:gray;
    margin: 10px;
}
.card-content:hover  {
    color: rgb(173, 18, 18);
    text-decoration: none;

}
.card-content h4 {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.card-content p {
    font-size: 1rem;
}
.card-content h4:hover {
    color: rgb(173, 18, 18);
}
.card-img {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-right: 20px;
}
.card-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.library-section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

