
h1 {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 25px 0;
    border-bottom: 3px solid rgb(198, 11, 11);

    }

.page-title {
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin:0;
    margin-bottom: 30px;
    height: 400px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.search-exercises-bg {
    background-image: linear-gradient(45deg,
    rgba(245, 69, 66, 0.547),
    rgba(8, 82, 156, 0.506)), url(
        "../img/search-exercises-img.jpg");
}
.search-workouts-bg {
    background-image: linear-gradient(45deg,
    rgba(245, 69, 66, 0.547),
    rgba(8, 82, 156, 0.506)), url(
        "../img/search-workouts-img.jpg");
}
.library-title {
    text-align: left;
    padding:0;
    font-size: 2rem;
    margin-top: 50px;
}
.auth-box {
    background-color: rgba(255, 255, 255, 0.841);
    box-shadow: 3px 3px 3px  #888888;
    border-radius: 10px;
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-box {
    background-color: rgba(255, 255, 255, 0.841);
    box-shadow: 3px 3px 3px  #888888;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.detail-info {
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.887);
}
.detail-info h2 {
    color: #dc3545;
    margin: 0 auto;
}
.detail-info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.detail-info-body {
    color: white;
    
}
.muscle-info {
    border-bottom: 1px solid #dc3545;
    margin-top: 15px;
    padding-bottom: 5px;
    color: #888888;
    margin-bottom: 30px;
    font-size: 1.2rem;

}
.detail-wrapper, .edit-wrapper, .workout-wrapper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;

}
.detail-body {
    background-color: rgba(255, 255, 255, 0.841);
    padding: 20px;
    border-top: 15px double #dc3545;
}
.add-exercises {
    padding: 0 30px 30px 30px;
}
.exercises-list {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exercises-list h2, .detail-body h2 {
    border-bottom: 3px solid #dc3545;
    margin: 10px 0 30px 0;
}
.exercises-list p {
    color: #888888;
    margin: 20px 0 30px 0;
}
.created-info {
    color: #888888;
    font-weight: bold;
}



@media  screen and (min-width:768px) {
    .detail-wrapper {
         flex-direction: row;
    }
    .detail-img {
        max-width: 50%;
    }
}
.logo {
    max-width: 90px;
    height: auto;
}

.nav-item a span {
    margin-left:8px;
}
.card-wrapper {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
    background-color: rgba(219, 216, 216, 0.49);
    display: flex;
    padding: 5px;
    max-width: 300px;
    justify-content: space-between;
    margin: 15px 0;

}
.card-wrapper:hover {
    background-color: rgba(219, 216, 216, 0.828);
}
.card-content  {
    display: flex;
    color:gray;
    margin: 10px;
}
.card-content-workout {
    flex-direction: column;
}
.card-content:hover  {
    text-decoration: none;

}
.card-content h4 {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.card-content p {
    font-size: 1rem;
}

.card-img {
    min-width:70px;
    min-height: 70px;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    align-self: center;
}
.card-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn-bd-warning {
    color: #ffc107;
    border-radius: 50%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-bd-warning:hover {
    background-color:#ffc10776;
    color: white;
    
  }
.btn-bd-danger {
    color:rgb(198, 11, 11);
    border-radius: 50%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.btn-bd-danger:hover {
    background-color:rgba(198, 11, 11, 0.36);
    color: rgb(198, 11, 11);
  }
.cards-section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-around;
}
.cards-section-wrapper p {
    color: #888888;
    font-style:italic;
}
.right-nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
}
@media  screen and (min-width:768px) {
    .right-nav-item {
        padding-top: 0;
        padding-bottom: 0 ;
        padding-right: 0.5rem;
        padding-left:0.5rem;
    }
}
.footer {
    background-color: rgb(66, 64, 64);
    color: rgb(158, 158, 158);
    padding: 60px 40px 30px 40px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}
.footer ul {
    list-style-type: none;
}
.footer ul li a {
    color: #dc3545;
}
.bufit-description {
    max-width: 800px;
}
.social-media {
    display: flex;
    justify-content: center;
}
