{% extends 'base.html' %}

{% block content %}
<body>
    <style>
    body{
        background-image: linear-gradient(45deg,
        rgba(245, 69, 66, 0.408),
        rgba(8, 82, 156, 0.341)), url("../static/img/chase-kinney-FMQBLyhD2HU-unsplash.jpg");
        background-size: cover;
        padding:0;
        margin:0;
    }
    </style>

    <div class="create-box">
        <h1>{% block title %} Create a Workout  {% endblock %}</h1>

        <h3>Workout Details</h3>
    
        <form method="post">
            <div class="form-group">
                <label for='name'>Name</label>
                <input type="text" name="name"
                    placeholder="Workout Name" class="form-control"
                    value="{{ request.form['name'] }}"></input>
            </div>
    
            <div class="form-group">
                <label for='description'>Description</label>
                <textarea name="description" placeholder="Description of Workout"
                        class="form-control">{{ request.form['description'] }}</textarea>
            </div>
    
    
            <div class="form-group d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
    
</body>
{% endblock %}
