{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a Workout  {% endblock %}</h1>

<h2>Workout Details</h2>

<form method="post">
    <div class="form-group">
        <label for='name'>Name</label>
        <input type="text" name="name"
               placeholder="Workout Name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for='description'>Description</label>
        <textarea name="description" placeholder="Description of Workout"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

{% endblock %}
