{% extends 'base.html' %}

{% block content %}
<body>
    <style>
        body{
            background-image: linear-gradient(45deg,
            rgba(245, 69, 66, 0.408),
            rgba(8, 82, 156, 0.341)), url("../static/img/edit-img.jpg");
            background-size: cover;
            padding:0;
            margin:0;
        }
        
    </style>
    <div class = "workout-wrapper">
        <div class = "detail-info">
            <h2>{% block title %} Change {{ workout['name'] }}'s Title {% endblock %}</h2>
        </div>
        <div class = "detail-body">
            <form method="post">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" name="name" placeholder="Workout Name"
                        class="form-control"
                        value="{{ request.form['name'] or workout['name'] }}">
                    </input>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
