{% extends 'base.html' %}

{% block content %}
<body>
    <style>
        body{
            background-image: linear-gradient(45deg,
            rgba(245, 69, 66, 0.408),
            rgba(8, 82, 156, 0.341)), url("../static/img/edit-img.jpg");
            background-size: cover;
            padding:0;
            margin:0;
        }
    </style>
    <div class = "edit-wrapper">
        <div class = "detail-info">
            <div class="detail-info-header">
                <h2>
                    <span>
                        {% block title %}
                        {{ workout['name'] }}
                        {% endblock %}
                    </span>

                    <a type = "button" class = "btn-lg btn-outline-danger" href="{{ url_for('main.edit_workout_title', workout_id=workout['id']) }}">
                        <i class="bi bi-pencil"></i>
                    </a>
                </h2>
            </div>
            <div class="detail-info-body">

                <div class="d-flex">
                    {% if not workout['description']%}
                        <p><em>Description...</em></p>
                    {% else %}
                        <p>{{ workout['description'] }}</p>
                    {% endif %}
                    <p>
                        <a type = "button" class = "btn-sm btn-outline-danger ms-3" href="{{ url_for('main.edit_workout_description', workout_id=workout['id']) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </p>

                </div>

                <p class="created-info">
                    Created on: <span class="badge badge-primary">{{ workout['created'] }}</span>
                </p>
            </div>
        </div>
        <div class="detail-body">
            <div class="exercises-list">
                <h2>Exercises</h2>
                <a href="{{ url_for('main.edit_workout_order', workout_id=workout['id']) }}">
                    <span class="badge badge-warning">Edit Order</span>
                </a>
                {% if selected_exercises %}

                <div class="table-responsive m-3">
                    <table class = "table table-light table-striped">
                        <thead>
                            <tr>
                                <th scope = "col">#</th>
                                <th scope = "col">Exercise</th>
                                <th scope = "col">Sets</th>
                                <th scope = "col">Reps</th>
                                <th scope = "col">Rest</th>
                                <th scope = "col">Notes</th>
                                <th scope = "col"></th>
                                <th scope = "col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in selected_exercises %}
                            <tr>
                                <th scope = "row">
                                    {{ loop.index }}
                                </th>
                                <td>
                                    {{exercise['name']}}
                                </td>
                                <td>
                                    {{exercise['num_sets']}}
                                </td>
                                <td>
                                    {{exercise['num_reps']}}
                                </td>
                                <td>
                                    {{exercise['num_rest']}}
                                </td>
                                <td>
                                    {% if not exercise['notes']%}
                                    No notes.
                                    {% else %}
                                    {{exercise['notes']}}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="{{ url_for('main.edit_workout_exercise', id=exercise['WorkoutExerciseID']) }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('main.delete_workout_exercise', id=exercise['WorkoutExerciseID']) }}" method="POST">
                                        <button type="submit"
                                               class="btn btn-danger btn-sm"
                                               onclick="return confirm('Are you sure you want to delete this exercise?')">
                                               <i class="bi bi-trash3-fill"></i>
                                        </button>

                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>



                {% else %}
                    <p>No exercises have been added.</p>
                {% endif %}
            </div>

            <div class="add-exercises">
                <h2>Add Exercises</h2>

                <form method="post" action="{{ url_for('main.edit_workout', workout_id=workout['id']) }}">
                    <div class="row">
                        <div class="form-group col">
                            <label for='exercise'>Select Exercise </label>
                            <select name=exercise class="form-control">
                                {% for exercise in exercises %}
                                <option value="{{exercise['id']}}" SELECTED>{{exercise['name']}}</option>"
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for='num_reps'>Seconds of Rest Between Sets</label>
                            <input type="number" name="num_rest"
                                   value=60 class="form-control"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for='num_sets'>Number of Sets</label>
                            <input type="number" name="num_sets"
                                   value=1 class="form-control"></input>
                        </div>

                        <div class="form-group col">
                            <label for='num_reps'>Number of Reps</label>
                            <input type="number" name="num_reps"
                                   value=1 class="form-control"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="notes">Notes</label>
                            <textarea name="notes" placeholder="No notes."
                                        class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <button type="submit" class="btn btn-success">Add Exercise</button>
                        </div>
                    </div>

                </form>
                <hr>
                <form action="{{ url_for('main.delete_workout', id=workout['id']) }}" method="POST">
                    <input type="submit" value="Delete Workout"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete this workout?')">
                </form>
            </div>
        </div>
    </div>
</body>




{% endblock %}
