{% extends 'base.html' %}

{% block content  %}
<body>
    <style>
        body{
            background-image: linear-gradient(45deg,
            rgba(245, 69, 66, 0.408),
            rgba(8, 82, 156, 0.341)), url("../static/img/edit-img.jpg");
            background-size: cover;
            padding:0;
            margin:0;
        }

    </style>
    <div class = "edit-wrapper">
        <div class = "detail-info">
            <h2>{% block title %} Edit Workout Order for - {{ workout['name'] }} {% endblock %}</h2>
        </div>
        <div class = "detail-body">
            <div class="exercises-list">
                <h2>Exercise List</h2>
                <form method="post">
                    {% if selected_exercises %}
                    <ul id="sortable">
                    {% for selected_exercise in selected_exercises %}
                        <li id="{{ selected_exercise.WorkoutExerciseID }}" class="ui-state-default">
                            <a href="{{ url_for('main.exercise', exercise_id=selected_exercise['id']) }}">{{selected_exercise['name']}} </a>
                            <a>Sets: {{ selected_exercise['num_sets'] }}</a>
                            <a>Reps: {{ selected_exercise['num_reps'] }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <p>No exercises have been added.</p>
                    {% endif %}

                    <a href="{{ url_for('main.edit_workout', workout_id=workout['id']) }}">
                        <span class="badge badge-warning">Continue Editing Workout</span>
                    </a>
                    </form>
            </div>

        </div>
    </div>
</body>
{% endblock %}
