{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ exercise['name'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Exercise Name"
               class="form-control"
               value="{{ request.form['name'] or exercise['name'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="muscle">Target Muscle</label>
        <input type="text" name="muscle" placeholder="Target Muscle"
               class="form-control"
               value="{{ request.form['muscle'] or exercise['muscle'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Exercise Description"
                  class="form-control">{{ request.form['description'] or exercise['description'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('main.delete', id=exercise['id']) }}" method="POST">
    <input type="submit" value="Delete Exercise"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Are you sure you want to delete this exercise?')">
</form>

{% endblock %}
