{% extends 'base.html' %}

{% block content %}
<div class="detail-wrapper">
    <div class="detail-img">
        <!-- TODO: EXERCISE IMAGE -->
        <img style="max-height:100%;max-width:100%;object-fit:contain;" src="{{exercise['image_url']}}" class = "img-fluid" alt = "{{exercise['name']}}" onError="this.onerror=null;this.src='static/img/example-exercise-img.jpg';"/>
    </div>
    <div class="detail-info">
        <div class="detail-info-header">
            <h2>{% block name %} {{ exercise['name'] }} {% endblock %}</h2>
            <form action="{{ url_for('main.exercise', exercise_id=exercise['id']) }}" method="post">
                <!-- TODO UNLIKE LOGIC -->
                <button type = "submit"  class = "btn btn-lg btn-bd-danger">
                    <i class = "bi bi-heart"></i>
                </button>
            </form>
        </div>
        <div class="detail-info-body">
            <p class="muscle-info">Muscle: {{ exercise['muscle'] }}</p>
            <p>{{ exercise['description'] }}</p>
        </div>


    </div>

</div>

{% endblock %}
