{% extends 'base.html' %}

{% block content %}
<div class="detail-wrapper">
    <div class="detail-img">
        <!-- TODO: EXERCISE IMAGE -->
        <!-- <img src="{{exercise['img']}}" class = "img-fluid" alt = "{{exercise['name']}}"/> -->
        <img src="../static/img/graham-mansfield-2j6IzAIbifQ-unsplash.jpg" class = "img-fluid" alt = "{{exercise['name']}}"/>
    </div>
    <div class="detail-info">
        <div class="detail-info-header">
            <h2>{% block name %} {{ exercise['name'] }} {% endblock %}</h2>
            <form method="post">
                <!-- TODO UNLIKE LOGIC -->
                <button type = "button"  class = "btn btn-lg btn-danger">
                    <i class = "bi bi-heart"></i>
                </button>
            </form>
        </div>
        <div class="detail-info-body">
            <p class="muscle-info">Muscle: {{ exercise['muscle'] }}</p>
            <p>{{ exercise['description'] }}</p>
        </div>
        
        
    </div>
    
</div>

{% endblock %}
