{% extends "base.html" %}

{% block content %}
<body>
<style>
body{
    background-image: url("/static/img/signup.jpg");
    background-size: cover;
    padding:0;
    margin:0;
}
</style>
<div class="auth-box">
    <h1>Forgot Password</h1>
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/forgot_password">
            <div class="form-group">
                <div class="control">
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="d-grid">
                <button class="btn btn-danger btn-block">Send Reset Request</button>

            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}
