{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('main.static', filename= 'css/style.css') }}">
    <title>BUFit</title>
</head>
{% block content %}
<h1 class = "library-title">{% block title %} Your liked Exercises {% endblock %}</h1>
<div class="cards-section-wrapper">
    {% for exercise in exercises %}
    <div class= "card-wrapper">
        <a class = "card-content" href="{{ url_for('main.exercise', exercise_id=exercise['id']) }}">
            <div class = "card-img">
                image
            </div>
            <div>
                <h4>{{ exercise['name'] }}</h4>
                <p>Muscle: {{ exercise['muscle'] }}</p>
            </div>
        </a>
        <div class = "card-details">
            <a type = "button" class = "btn-sm btn-outline-danger" href="{{ url_for('main.edit', id=exercise['id']) }}">
                <i class="bi bi-pencil"></i>
            </a>
             <!-- TODO: Like button logic-->
             <a type = "button"  class = "btn-sm btn-outline-danger">
                <i class = "bi bi-heart text-danger"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<h1 class = "library-title">Your liked Workouts</h1>
<div class="cards-section-wrapper">
    {% for workout in workouts %}
    <div class= "card-wrapper">
        <a class = "card-content" href="{{ url_for('main.workout', workout_id=workout['id']) }}">
            <div class = "card-img">
                image
            </div>
            <div>
                <h4>{{ workout['name'] }}</h4>
                <p>Author: {{ workout['author'] }}</p>
            </div>
        </a>
        <div class = "card-details">
            <a type = "button" class = "btn-sm btn-outline-danger" href="{{ url_for('main.edit', id=workout['id']) }}">
                <i class="bi bi-pencil"></i>
            </a>
            <!-- TODO: Like button logic-->
            <a type = "button" class = "btn-sm btn-outline-danger">
                <i class = "bi bi-heart text-danger"></i>
            </a>

        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
