{% extends "base.html" %}

{% block content %}
<body>
<style>
body{
    background-image: url("/static/images/login.gif");
    background-size: cover;

    height: 100vh;
    padding:0;
    margin:0;
}
</style>
<div class="auth-box">
    <h1>Login</h1>
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="form-group">
                <div>
                    <input class= "form-control" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input class= "form-control" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="rememberme" name="remember">
                <label  class="form-check-label" for="rememberme">Remember me</label>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger">Login</button>
            </div>
            
        </form>
    </div>
</div>
</body>
{% endblock %}
