{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('main.static', filename= 'css/style.css') }}">
    <title>BUFit</title>
</head>
{% block content %}

<div class="page-title search-workouts-bg">
    <h1 class="display-3 text-light">{% block title %} Search Workouts {% endblock %}</h1>
</div>
<div class="cards-section-wrapper">
    {% if not workouts%}
    <p class = "mx-auto">There are no workouts.</p>
    {% endif%}
    {% for workout in workouts %}
    <div class= "card-wrapper">
        <a class = "card-content" href="{{ url_for('main.workout', workout_id=workout['id']) }}">
            <div class = "card-img">
                image
            </div>
            <div>
                <h4>{{ workout['name'] }}</h4>
                <p>Author: {{ workout['author'] }}</p>
            </div>
        </a>
        <div class = "card-details">
            <a type = "button" class = "btn-sm btn-outline-danger" href="{{ url_for('main.edit_workout', workout_id=workout['id']) }}">
                <i class="bi bi-pencil"></i>
            </a>
            <!-- TODO: Like button logic-->
            <a type = "button" class = "btn-sm btn-outline-danger">
                <i class = "bi bi-heart text-danger"></i>
            </a>

        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
