{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('main.static', filename= 'css/style.css') }}">
    <title>BUFit</title>
</head>
{% block content %}
<div class="page-title search-exercises-bg">
    <h1 class="display-3 text-light">{% block title %}Search Exercises{% endblock %}</h1>
</div>


<form class="form-inline"  method="POST" action="{{ url_for('main.search_exercises') }}">
    <label class = "form-label mx-3" for="muscle">Filter by muscle:</label>
    <div class="input-group">
        <select class="form-select" id = "muscle" name= "muscle" aria-describedby="selectMuscleBtn">
            {% for muscle in muscles %}
            <option value="{{muscle}}" SELECTED>{{muscle}}</option>"
            {% endfor %}
        </select>
        <button class="btn btn-outline-primary btn-sm" type="submit" id="selectMuscleBtn">Filter</button>
    </div>
</form>

<form  class  = "form-inline" method="POST" action="{{ url_for('main.search_exercises') }}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id = "exercise_search_name" name = "exercise_search_name" placeholder="Search exercise name..." aria-label="search" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2">
            <i class="bi bi-search"></i>
            <span class="ms-2">Search</span>
        </button>
    </div>
</form>

<div class="cards-section-wrapper">
    {% for exercise in exercises %}
    <div class= "card-wrapper">
        <a class = "card-content" href="{{ url_for('main.exercise', exercise_id=exercise['id']) }}">
            <div class = "card-img">
                <img style="max-height:100%;max-width:100%;object-fit:contain;" src="{{ exercise['image_url'] }}">
            </div>
            <div>
                <h4>{{ exercise['name'] }}</h4>
                <p>Muscle: {{ exercise['muscle'] }}</p>
            </div>
        </a>
        <div class = "card-details">
            {% if current_user.access > 0 %}
            <a type = "button" class = "btn btn-sm btn-bd-warning m-1" href="{{ url_for('main.edit', id=exercise['id']) }}">
                <i class="bi bi-pencil-fill"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
