{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('main.static', filename= 'css/style.css') }}">
    <title>BUFit</title>
</head>
{% block content %}
<div class="page-title search-exercises-title">
    <h1 class="display-3 text-light">{% block title %}Search Exercises{% endblock %}</h1>
</div>


<h2>Target Muscle</h2>
<form class="form-inline" method="POST" action="{{ url_for('main.search_exercises') }}">
    <div class="form-group">
        <select name=muscle class="form-control">
            {% for muscle in muscles %}
            <option value="{{muscle}}" SELECTED>{{muscle}}</option>"
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

<h2 class="display-4">Exercises</h2>
<div class="cards-section-wrapper">
    {% for exercise in exercises %}
    <div class= "card-wrapper">
        <a class = "card-content" href="{{ url_for('main.exercise', exercise_id=exercise['id']) }}">
            <div class = "card-img">
                image
            </div>
            <div>
                <h4>{{ exercise['name'] }}</h4>
                <p>Muscle: {{ exercise['muscle'] }}</p>
            </div>
        </a>
        <div class = "card-details">
            <a type = "button" class = "btn-sm btn-outline-danger" href="{{ url_for('main.edit', id=exercise['id']) }}">
                <i class="bi bi-pencil"></i>
            </a>
             <!-- TODO: Like button logic-->
             <a type = "button"  class = "btn-sm btn-outline-danger">
                <i class = "bi bi-heart text-danger"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
