{% extends 'base.html' %}

{% block content %}
<h2>{% block name %} {{ workout['name'] }} {% endblock %}</h2>
<span class="badge badge-primary">{{ workout['created'] }}</span>
<span class="badge badge-primary">{{ workout['user_id'] }}</span>
<span class="badge badge-primary">Edit Title</span>

<h3>Description</h3>
<p>{{ workout['description'] }}</p>
<button class="btn btn-primary">Edit Description</button>

<h2>Exercise List</h2>
{% if selected_exercises %}
{% for selected_exercise in selected_exercises %}
    <a href="{{ url_for('main.exercise', exercise_id=selected_exercise['id']) }}">{{selected_exercise['name']}} </a>
    <a>Sets: {{ selected_exercise['num_sets'] }}</a>
    <a>Reps: {{ selected_exercise['num_reps'] }}</a>
    <br>
{% endfor %}
{% else %}
    <p>No exercises have been added.</p>
{% endif %}
<button class="btn btn-primary">Edit Exercises</button>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Like</button>
    </div>
</form>
{% endblock %}
