{% extends 'base.html' %}

{% block content %}

<div class="workout-wrapper">
    <div class="detail-info">
        <div class="detail-info-header">
            <h2>{% block name %} {{ workout['name'] }} {% endblock %}</h2>
            <h3>{% block author %} {{ author }} {% endblock %}</h3>
            <form method="post">

                <button type="submit" class="btn btn-danger btn-lg">
                    <i class = "bi bi-heart"></i>
                </button>

            </form>
        </div>
        <div class="detail-info-body">
            <p>{{ workout['description'] }}</p>
            <p class="created-info">
                Created on: <span class="badge badge-primary">{{ workout['created'] }}</span>
            </p>
            {% if workout.coach_workout %}
            <p class="created-info">
                This is a workout curated by a coach.
            </p>
            {% else %}
            <p class="created-info">
                This is a user created workout.
            </p>
            {% endif %}
        </div>
    </div>

    <div class = "exercises-list">
        <h2>Exercises</h2>
        {% if selected_exercises %}
        {% for selected_exercise in selected_exercises %}
            <a href="{{ url_for('main.exercise', exercise_id=selected_exercise['id']) }}">{{selected_exercise['name']}} </a>
            <a>Sets: {{ selected_exercise['num_sets'] }}</a>
            <a>Reps: {{ selected_exercise['num_reps'] }}</a>
            <p>{{ selected_exercise['notes'] }}</p>
            <br>
        {% endfor %}
        {% else %}
            <p>No exercises have been added.</p>
        {% endif %}
    </div>



</div>

{% endblock %}
